<div class="col-md-12 table-filter-container">
    <div class="col-md-2 form-group">
      <select name="branch-select" class="form-control" id="branch-select">
        <option value="branch-one">Branch 1</option>
        <option value="branch-one">Branch 2</option>
        <option value="branch-one">Branch 3</option>
      </select>
    </div>
    <div class="col-md-2 form-group">
      <select name="agent-select" class="form-control" id="agent-select">
        <option value="agent-one">Agent 1</option>
        <option value="agent-one">Agent 2</option>
        <option value="agent-one">Agent 3</option>
      </select>
    </div>
    </div>
    <table class="table table-striped table-hovered table-bordered">
      <tr>
        <th>S.No</th>
        <th>Agent Name</th>
        <th>Date</th>
        <th>Phone Number</th>
        <th>Email Id</th>
        <th>Number Of Applicants</th>
        <th>Action</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Mohit Verma</td>
        <td>Pranay Kumar</td>
        <td>16th April 2019</td>
        <td>Mohit.verma@acropolisglobal.com</td>
        <td>10</td>
        <td>
            <a routerLink="../detail" class="btn btn-fps" routerLinkClass="active">View</a>
            <button type="button" name="edit-branch-button" class="btn btn-fps">Edit</button>
            <button type="button" name="delete-branch-button" class="btn btn-fps">Delete</button>
        </td>
      </tr>
      <tr>
          <td>1</td>
          <td>Mohit Verma</td>
          <td>Pranay Kumar</td>
          <td>16th April 2019</td>
          <td>Mohit.verma@acropolisglobal.com</td>
          <td>10</td>
          <td>
           <a routerLink="../detail" class="btn btn-fps" routerLinkClass="active">View</a>
            <button type="button" name="edit-branch-button" class="btn btn-fps">Edit</button>
            <button type="button" name="delete-branch-button" class="btn btn-fps">Delete</button>
          </td>
      </tr>
    </table>
    