<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Registration</p>
  </div>
  <form name="registration-form" method="POST" action="#">
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="applicant-name">
     Full Name
    </label>
    <input type="text" name="applicant-name" class="form-control" id="applicant-name" placeholder="Name" />

  </div>
  <div class="col-md-12 form-group">
      <a class="btn btn-fps" routerLink="../matchFound">Submit</a>
    <a class="btn btn-fps" routerLink="../">Cancel</a>
  </div>
        </div>
        </form>
</div>
