<div class="col-md-6 col-md-offset-3 profile-detail-container">
  <div class="col-md-6">
    <p class="heading">Manager name</p>
  </div>
  <div class="col-md-6">
    <p class="value">Sanyam Negi</p>
  </div>
  <div class="col-md-6">
    <p class="heading">Branch name</p>
  </div>
  <div class="col-md-6">
    <p class="value">Branch 1</p>
  </div>
  <div class="col-md-6">
    <p class="heading">Email</p>
  </div>
  <div class="col-md-6">
    <p class="value">Hello@compnay.com</p>
  </div>
  <div class="col-md-6">
    <p class="heading">Contact Number</p>
  </div>
  <div class="col-md-6">
    <p class="value">00000000000</p>
  </div>
  <div class="col-md-6">
    <p class="heading">Address</p>
  </div>
  <div class="col-md-6">
    <p class="value">-------------------</p>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-fps">Edit Profile</button>
  </div>
</div>