<div class="row log-in-form-container">
  <div class="col-md-6">
  <form name="loginForm" action="#" method="POST">
  <div class="col-md-12 form-group">
    <label for="name">Username</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="name" />
  </div>
  <div class="col-md-12 form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" />
  </div>
  <div class="col-md-12 form-group">
  <button type="submit" name="submit" (click)="afterLoginClick()" class="btn btn-info">Log In</button>
  </div>
  <div class="col-md-12 form-group">
    <button type="button" class="btn btn-info" name="forget-password" (click)="forgetPassword()">Forget Password</button>
    <button type="button" class="btn btn-info" name="create-account" (click)="createAccount()">Create Account</button>

  </div>
  </form>
  </div>

</div>