<div class="col-md-6 col-md-offset-3 adding-form-box">
    <div class="col-md-12 box-heading-container">
      <p>Agent</p>
    </div>
    <div class="col-md-12 box-value-container">
    <div class="col-md-12 form-group">
      <label for="agent-name">
        Agent Name
      </label>
      <input type="text" name="agent-name" class="form-control" id="agent-name" placeholder="Agent" />
  
    </div>
      <div class="col-md-12 form-group">
          <label for="email">
          Email
          </label>
          <input type="text" name="email" class="form-control" id="email" placeholder="Email" />
      
        </div>
      <div class="col-md-12 form-group">
          <label for="country-code">
            Phone Number
          </label>
          <input type="text" name="phone-number" class="form-control" id="phone-number" placeholder="Phone Number">
      
        </div>
        <div class="col-md-12 form-group">
            <label for="branch-manager-name">
              Address
            </label>
            <textarea class="form-control" name="address">
              </textarea>
        
          </div>
          <div class="col-md-12 form-group">
              <label for="date-of-birth">
               Date Of Birth
              </label>
              <input type="date" name="date-of-birth" class="form-control" id="date-of-birth" />
          
            </div>
            <div class="col-md-12 form-group">
                <label for="education">
                 Education
                </label>
                <input type="text" name="education" class="form-control" id="education" placeholder="Education" />
            
              </div>
          <div class="col-md-12 form-group">
             <button type="submit" name="submit" class="btn btn-fps">Save</button>
             <a routerLink="../" routerLinkClass="active" class="btn btn-fps">Cancel</a>
          </div>
          </div>
  </div>
  