<div class="col-md-12 application-list-container">
  <table class="table table-stripped table-hovered table-bordered">
    <tr>
      <td><label for="walking">Walking<input type="radio" name="applicant-status" value="walking" id="walking" /></label></td>
      <td><label for="via-agent">Via Agent<input type="radio" name="applicant-status" value="via-agent" id="via-agent" /></label></td>
    </tr>
    <tr>
      <th>S.No</th>
      <th>Applicant Id</th>
      <th>Applicant Name</th>
      <th>Date Applied</th>
      <th>Agent Name</th>
      <th>Pre-Med Result</th>
      <th>Pre Med Result Date</th>
      <th>Flight Booked For</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>1201</td>
      <td>Sanyam Negi</td>
      <td>12-03-2019</td>
      <td>Shristi Verma</td>
      <td>Pass</td>
      <td>12-01-2019</td>
      <td>abc</td>
      <td><a routerLink="../detail" routerLinkClass="active" class="btn btn-fps">View</a>
        <a routerLink="edit" routerLinkClass="active" class="btn btn-fps">Edit</a>
        <a routerLink="../detail" routerLinkClass="active" class="btn btn-fps">Detail</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>1202</td>
        <td>Mohit Verma</td>
        <td>12-03-2019</td>
        <td>Shristi Verma</td>
        <td>Pass</td>
        <td>12-01-2019</td>
        <td>abc</td>
        <td><a routerLink="view" routerLinkClass="active" class="btn btn-fps">View</a>
          <a routerLink="edit" routerLinkClass="active" class="btn btn-fps">Edit</a>
          <a routerLink="detail" routerLinkClass="active" class="btn btn-fps">Detail</a></td>
      </tr>
  </table>

</div>