<div class="col-md-12">
    <div class="col-md-12 box-heading-container">
      <p>Match Found</p>
    </div>
    <div class="col-md-12 box-value-container">
      <div class="col-md-12 form-group">
        <div class="name">
          <h4>Name</h4>
        </div>
        <div class="image">
          <img src="../../assets/girl.jpg" alt="image" />

        </div>
        <div class="view-container">
          <a routerLink="view" class="btn btn-fps" routerLinkClass="active">View</a>
        </div>
      </div>
      <div class="col-md-12 form-group">
          <div class="name">
            <h4>Name</h4>
          </div>
          <div class="image">
            <img src="../../assets/girl.jpg" alt="image" />
  
          </div>
          <div class="view-container">
            <a routerLink="view" class="btn btn-fps" routerLinkClass="active">View</a>
          </div>
        </div>
        <div class="col-md-12 form-group">
          <a class="btn btn-fps" routerLink="../addNew" routerLinkClass="active">Add New Applicant</a>
        </div>
    </div>
  </div>
  