<div class="col-md-6 col-md-offset-3 adding-form-box">
    <div class="col-md-12 box-heading-container">
      <p>Registration</p>
    </div>
    <div class="col-md-12 box-value-container">
    <div class="col-md-12 form-group">
      <label for="name">
        Name
      </label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Name" />
  
    </div>
    <div class="col-md-12 form-group">
        <label for="agent-name">
          Agent Name
        </label>
        <input type="text" name="agent-name" class="form-control" id="agent-name" placeholder="Agent Name" />
    
      </div>
      <div class="col-md-12 form-group">
          <label for="agent-email">
            Email
          </label>
          <input type="text" name="agent-email" class="form-control" id="agent-email" placeholder="Agent Email" />
      
        </div>
        <div class="col-md-12 form-group">
            <label for="education">
              Education
            </label>
            <input type="text" name="education" class="form-control" id="education" placeholder="Education" />
        
          </div>
        <div class="col-md-12 form-group">
            <label for="branch-manager-name">
              Address
            </label>
            <textarea class="form-control" name="address">
              </textarea>
        
          </div>
          <div class="col-md-12 form-group">
             <button type="submit" name="submit" class="btn btn-fps">ADD</button>
             <button type="button" name="cancel" class="btn btn-fps">CANCEL</button>
          </div>
          </div>
  </div>
  